body { padding-top: 55px; }

.pure-menu .pure-menu-heading {
  text-transform: none;
}

.btn-clear {
  color: #444;
  background-color: #E6E6E6;
}

.ribbon .pure-form legend,
.ribbon .pure-form label {
  color: #f3f3f3;
}

.appendix li:before {
  content: "\f08e";
  font-family: FontAwesome;
}

.appendix li {
  list-style-type: none;
}
